body {
  -ms-user-select: none;
}

/*************** Virtualized grid styles ****************************/
.FlexTable {
  width: 100%;
  margin-top: 15px;
}

.alert {
    margin: 10px 0px 0px 0px;
}

/*.bbna-table-grid .Grid.FlexTable__Grid {
  min-height: 455px;
}*/

div:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.bbnaTableContainer {
  order: 1;
  flex: 3 0px;
}